<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CANOE</title>
    <link rel="stylesheet" href="../static/css/foundation.css">
    <link rel="stylesheet" href="../static/css/app.css">
  </head>
  <body>
    <div class="row logo">
      <div class="small-12 columns">
	<a href="/"><img class="topbarimg" id="topimg" src="../static/img/logo.png"></a>
      </div>
    </div>
    
    <div data-sticky-container>
      <div class="top-bar" data-sticky data-options="marginTop:0;" style="width:100%" data-top-anchor="topimg:bottom">
	<div class="top-bar-left">
	</div>
	<div class="top=bar-right">
	  <div class="row">
	    <div class="small-8 columns">
	      <form name="quicksearch" action="/output" method="POST">
		<ul class="menu">
		  <li><input type="search" name="quicksearchTerm" placeholder="Quick Search"></li>
		  <li><button type="submit" class="button" name="quicksearchsubmit">Search</button></li>
		</ul>
	      </form>
	    </div>
	  </div>
	</div>
      </div>
    </div>
    
    <br><br><br>

    <form name="query" action="/output" method="POST">
      <div class="row">
	<div class="small-12 columns callout">
	  <div class="row">
	    <div class="small-12 columns">	
              <input type="text" name="searchTerm" placeholder="Search"/>
	    </div>
	  </div>
	  <div class="row">
	    <div class="small-2 columns">
	      <label>Minimum Price
		<input type="number" name="minPrice" id="minPrice">
	      </label>
	    </div>
	    <div class="small-8 columns">
	      <div class="slider" data-slider data-initial-start="0" data-initial-end="1000" data-end="1000" data-step="5">
		<span class="slider-handle" data-slider-handle role="slider" tabindex="1" aria-controls="minPrice"></span>
		<span class="slider-fill" data-slider-fill></span>
		<span class="slider-handle" data-slider-handle role="slider" tabindex="1" aria-controls="maxPrice"></span>
	      </div>
	    </div>
	    <div class="small-2 columns">
	      <label>Maximum Price
		<input type="number" name="maxPrice" id="maxPrice">
	      </label>
	    </div>
	    <div class="row">
	      <div class="small-12 columns">
		<div class="input-group-button">
		  <input type="submit" class="button" name="go" value="Search">
		</div>
	      </div>
	    </div>
	  </div>
	</div>
      </div>
    </form>

    <div class="row">
      <footer class="container-fluid text-center ftr">
	<p>&copy; JSON Mohabir -- Version 1.0.0</p>
      </footer>
    </div>
    
    <script src="../static/js/vendor/jquery.js"></script>
    <script src="../static/js/vendor/what-input.js"></script>
    <script src="../static/js/vendor/foundation.js"></script>
    <script src="../static/js/foundation/foundation.topbar.js"></script>
    <script src="../static/js/foundation/foundation.sticky.js"></script>
    <script src="../static/js/foundation/foundation.core.js"></script>
    <script src="../static/js/foundation/foundation.slider.js"></script>
    <script src="../static/js/app.js"></script>

    <script>
      jQuery(document).ready({
      jQuery(document).foundation();
      });
    </script>
  </body>
</html>
