<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CANOE</title>
    <link rel="stylesheet" href="../static/css/foundation.css">
    <link rel="stylesheet" href="../static/css/app.css">
  </head>
  <body>
    <div class="row logo">
      <div class="small-12 columns">
	<img class="topbarimg" id="topimg" src="../static/img/logo.png">
      </div>
    </div>

    <div data-sticky-container>
      <div class="top-bar" data-sticky data-options="marginTop:0;" style="width:100%" data-top-anchor="topimg:bottom">
	<div class="top-bar-left">
	</div>
	<div class="top=bar-right">
	  <div class="row">
	    <div class="small-8 columns">
	      <form name="quicksearch" action="/output" method="POST">
		<ul class="menu">
		  <li><input type="search" name="quicksearchTerm" placeholder="Quick Search"></li>
		  <li><button type="submit" class="button" name="quicksearchsubmit">Search</button></li>
		</ul>
	      </form>
	    </div>
	    <div class="small-2 columns">
	      <ul class="menu">
		<!-- add Jinja to only show Log In button if user not logged in
		  this is only if we decide to add user functionality-->
		<form name="login" action="/login" method="POST">
		  <ul class="menu">
		    <li><button type="submit" class="button" name="loginsubmit">Log In</button></li>
		  </ul>
		</form>
	      </ul>
	    </div>
	  </div>
	</div>
      </div>
    </div>

    <br><br><br>

    <!--<base href={{ currentUrl }}/>-->
    
    <div class="row">
      <div class="small-6 columns">
	<button class="button" type="button" data-toggle="sort-dropdown">Sort By</button>
	<div class="row">
	  <div class="dropdown-pane bottom" id="sort-dropdown" data-dropdown>
	    <ul class="vertical dropdown menu" data-dropdown-menu>
	      <form name="filter" action="/output" method="POST">
		<input type="radio" name="filterbuttons" value="priceAscending" id="filterPA">
		<label for="filterPA">Price (Ascending)</label>
		<br>
		<input type="radio" name="filterbuttons" value="priceDescending" id="filterPD">
		<label for="filterPD">Price (Descending)</label>
		<br>
		<input type="radio" name="filterbuttons" value="distAscending" id="filterDA">
		<label for="filterDA">Seat Distance (Ascending)</label>
		<br>
		<input type="radio" name="filterbuttons" value="distDescending" id="filterDD">
		<label for="filterDD">Seat Distance (Ascending)</label>
		<br>
		<input type="submit" class="button" name="sortbygo" value="Go">
	      </form>
	    </ul>
	  </div>
	</div>
      </div>
      <div class="small-6 columns">
	<button class="button" type="button" data-toggle="filter-dropdown">Filter</button>
	<div class="row">
	  <div class="dropdown-pane bottom" id="filter-dropdown" data-dropdown>
	    <ul class="vertical dropdown menu" data-dropdown-menu>
	      <form name="sortby" action="/output" method="POST">
		<input id="tmcheckbox" type="checkbox"><label for="tmcheckbox">TicketMaster</label>
		<br>
		<input id="tlcheckbox" type="checkbox"><label for="tlcheckbox">TicketLeap</label>
		<br>
		<input id="sgcheckbox" type="checkbox"><label for="sgcheckbox">SeatGeek</label>
		<br>
		<input type="submit" class="button" name="filtergo" value="Go">
	      </form>
	    </ul>
	  </div>
	</div>
      </div>
    </div>

    <br><br>

    <div class="row">
      <div class="small-8 columns">
	{% for event in events %}
	<a href=event.link>
	<div class="callout">
	  <h3>event.company - event.name</h3>
	  <hr>
	  <p>event.date - event.price - event.seatnumber</p>
	</div>
	</a>
	{% endfor %}
      </div>
    </div>

    <script src="../static/js/vendor/jquery.js"></script>
    <script src="../static/js/vendor/what-input.js"></script>
    <script src="../static/js/vendor/foundation.js"></script>
    <script src="../static/js/foundation/foundation.topbar.js"></script>
    <script src="../static/js/foundation/foundation.sticky.js"></script>
    <script src="../static/js/foundation/foundation.core.js"></script>
    <script src="../static/js/foundation/foundation.slider.js"></script>
    <script src="../static/js/foundation/foundation.dropdownMenu.js"></script>
    <script src="../static/js/app.js"></script>

    <script>
      jQuery(document).ready({
      jQuery(document).foundation();
      });
    </script>

  </body>
</html>
