<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CANOE</title>
    <link rel="stylesheet" href="../static/css/foundation.css">
    <link rel="stylesheet" href="../static/css/app.css">
  </head>
  <body>
    <div class="row logo">
      <div class="small-12 columns">
	<a href="/"><img class="topbarimg" id="topimg" src="../static/img/logo.png"></a>
      </div>
    </div>

    <div data-sticky-container>
      <div class="top-bar" data-sticky data-options="marginTop:0;" style="width:100%" data-top-anchor="topimg:bottom">
	<div class="top-bar-left">
	</div>
	<div class="top=bar-right">
	  <div class="row">
	    <div class="small-8 columns">
	      <form name="quicksearch" action="/output" method="POST">
		<ul class="menu">
		  <li><input type="search" name="quicksearchTerm" placeholder="Quick Search"></li>
		  <li><button type="submit" class="button" name="quicksearchsubmit">Search</button></li>
		</ul>
	      </form>
	    </div>
	  </div>
	</div>
      </div>
    </div>

    <br><br><br>

    <!--<base href={{ currentUrl }}/>-->
    
    <div class="row">
      <div class="small-6 columns">
	<button class="button" type="button" data-toggle="sort-dropdown">Sort By</button>
	<div class="row">
	  <div class="dropdown-pane bottom" id="sort-dropdown" data-dropdown>
	    <ul class="vertical dropdown menu" data-dropdown-menu>
	      <form name="filter" action="/output" method="POST">
		<input type="radio" name="filterbuttons" value="filterPA">
		<label for="filterPA">Price (Ascending)</label>
		<br>
		<input type="radio" name="filterbuttons" value="filterPD">
		<label for="filterPD">Price (Descending)</label>
		<br>
		<input type="radio" name="filterbuttons" value="filterDA">
		<label for="filterDA">Seat Distance (Ascending)</label>
		<br>
		<input type="radio" name="filterbuttons" value="filterDD">
		<label for="filterDD">Seat Distance (Descending)</label>
		<br>
		<input type="radio" name="filterbuttons" value="filterAA">
		<label for="filterDD">Alphabetical (Ascending)</label>
		<br>
		<input type="radio" name="filterbuttons" value="filterAD">
		<label for="filterDD">Alphabetical (Ascending)</label>
		<br>
		<input type="submit" class="button" name="sortbygo" value="Go">
	      </form>
	    </ul>
	  </div>
	</div>
      </div>
    </div>

    <br><br>

    <div class="row">
      <div class="small-12 columns">
	{% for event in events %}
	<a href={{event[3]}}>
	<div class="callout">
	  <h3>Name: {{event[1]}} - {{event[2]}}</h3>
	  <h4>{{event[0]}}</h4>
	  <hr>
	  <p>{{event[5]}} - {{event[6]}} - {{event[8]}}</p>
	</div>
	</a>
	{% endfor %}
      </div>
    </div>

    <div class="row">
      <footer class="container-fluid text-center ftr">
	<p>&copy; JSON Mohabir -- Version 1.0.0</p>
      </footer>
    </div>
    
    <script src="../static/js/vendor/jquery.js"></script>
    <script src="../static/js/vendor/what-input.js"></script>
    <script src="../static/js/vendor/foundation.js"></script>
    <script src="../static/js/foundation/foundation.topbar.js"></script>
    <script src="../static/js/foundation/foundation.sticky.js"></script>
    <script src="../static/js/foundation/foundation.core.js"></script>
    <script src="../static/js/foundation/foundation.slider.js"></script>
    <script src="../static/js/foundation/foundation.dropdownMenu.js"></script>
    <script src="../static/js/app.js"></script>

    <script>
      jQuery(document).ready({
      jQuery(document).foundation();
      });
    </script>

  </body>
</html>
